<!DOCTYPE html>
<html>
<head><title>SCTA Display</title>

<link rel="stylesheet" type="text/css" href="/stylesheets/global.css">

<style type="text/css">

td.predicateterm {width: 300px; }
td {padding: 5px; border: 1px dotted blue;}
</style>
</head>

<body>
	<%= erb :_header %>
	<div id="body">

<h1>Information for <%= "#{@title}" %></h1>
<p>(select link for more information)<p>
<table>
	<tr>
		<td>Property</td>
		<td>Value</td>
	</tr>

<% @result.each do |item| %>
<tr>
	<td class="predicateterm">
		<a href="<%= item.predicate_url %>"><%= item.predicate_with_prefix 
		%></a>
	</td>
	<td class="objectterm">
		<% if item.object_is_literal? %>
		<%= item.object %>
		<% else %>
		<a href='<%= item.object_url %>'><%= item.object_with_prefix %></a>
		<% end %>
	</td>
</tr>
<% end %>
</table>
</div>
</body>
</html>