<!DOCTYPE html>
<html>
<head>
    <title>SCTA Display</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/global.css">
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="js/bootstrap.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function(){

       $("h3.dstitle").click(function(){

           $(this).next().toggle("slow")
           });
    });


  </script>
    <style type="text/css">
      table.datastream {display: none;}
      h3.dstitle {cursor: pointer}
      h3.dstitle:hover {text-decoration: underline;}
    </style>
</head>

<body>
	<%= erb :_header %>
	<div id="body">
<div id="titleheader">
<h2>Information for: <%= "#{@title}" %></h2>
<p>(select links below for more information)<p>

<%  if @resourcetype == 'person' && @sameas.count > 0 && @english_result != nil %>
  <p style="font-size: 12px">
  <%= @english_result[:abstract] %>
    (Wikipedia Abstract)</p>
<% end %>

  </div>

      <% def tableprint(predicate, object)

           predicate_hash = URLConvert(predicate)
           if !object.literal?
             object_hash = URLConvert(object)
           end
      %>
            <tr>
              <td class="predicateterm">
                <a href="<%= predicate_hash[:url_link] %>"><span class="url_label"><%= predicate_hash[:url_label] %></span><span class="url_base"><%= predicate_hash[:url_base] %></span></a>
              </td>
              <td class="objectterm">
                <% if object.literal? %>
                    <%= object %>
                <% else
                     object_str = object.to_s %>
                    <a href='<%= object_hash[:url_link] %>'><span class="url_label"><%= object_hash[:url_label] %></span><span class="url_base"><%= object_hash[:url_base] %></span></a>
                <% end %>
              </td>
            </tr>

      <% end %>

<%

%>

  <h3 class="dstitle"><small>Publication Information (pubInfo datastream | <span>metadata count: <%= @pubinfo.count %></span>)</small></h3>
    <table class="datastream table table-striped" style="display: block;">

<%

    @pubinfo.each_solution do |solution|
    predicate = solution[:p]
    object = solution[:o]
    tableprint(predicate, object)
    end

%>
    </table>

      <% if (@referenceinfo != nil) %>
          <h3 class="dstitle"><small>Reference Information (referenceInfo datastream | <span>metadata count: <%= @refernceinfo.count %></span>)</small></h3>
          <table class="datastream table table-striped">

            <%
               @linkinginfo.each_solution do |solution|
                 predicate = solution[:p]
                 object = solution[:o]
                 tableprint(predicate, object)
               end
            %>

          </table>
           <% end %>
      <% if (@contentinfo != nil) %>
      <h3 class="dstitle"><small>Content Information (contentInfo datastream | <span>metadata count: <%= @contentinfo.count %></span>)</small></h3>
      <table class="datastream table table-striped">

<%

    @contentinfo.each_solution do |solution|
    predicate = solution[:p]
    object = solution[:o]
    tableprint(predicate, object)
    end
%>
    </table>
          <% end %>
      <h3 class="dstitle"><small>Linking Information (linkingInfo datastream | <span>metadata count: <%= @linkinginfo.count %></span>)</small></h3>
        <table class="datastream table table-striped">

<%
    @linkinginfo.each_solution do |solution|
    predicate = solution[:p]
    object = solution[:o]
    tableprint(predicate, object)
    end
%>

</table>
      <h3 class="dstitle"><small>Uncategorized (miscInfo datastream | <span>metadata count: <%= @miscinfo.count %></span>)</small></h3>
      <table class="datastream table table-striped">
        <%
           @miscinfo.each_solution do |solution|
             predicate = solution[:p]
             object = solution[:o]
             tableprint(predicate, object)
           end
        %>
      </table>

</div>
</body>
</html>