<!DOCTYPE html>
<html>
<head><title>SCTA Display</title>

<style type="text/css">

td.predicateterm {width: 300px; }
td {padding: 10px; border: 1px dotted blue;}
</style>

</head>

<body>
<%	
	 @titleresult.each do |item| 
	 		item.each do |subitem|
	 			@title = subitem[1]
	 		end

		end 
	
	%>

<h1>Information for <%= "#{@title}" %></h1>
<p>(select link for more information)<p>
<table>
	<tr>
		<td>Property</td>
		<td>Value</td>
	</tr>

<% @result.each do |item| %>
<tr>
<% item.each do |subitem| 
 %>


	
	<% if subitem[0].to_s == 'p'  %>
		<td class="predicateterm">
			<% url = subitem[1].to_s
			if url.include? "http://"
			urltransform = url.sub('http://scta.info', '') %>
			<%= "<a href=\"#{urltransform}\">" + url + "</a>" %>
			<% else	%>
			<%= url %>
			<% end	%>
		</td>
		<% elsif subitem[0].to_s == 'o' %>
			<td class="objectterm">
			<% url = subitem[1].to_s
			if url.include? "http://"
				urltransform = url.sub('http://scta.info', '') %>
				<%= "<a href=\"#{urltransform}\">" + url + "</a>" %>
			<% else	%>
			<%= url %>
			<% end	%>
		    </td>
	<% end %>

<% end %>
</tr>
<% end %>
</table>
</body>
</html>