<!DOCTYPE html>
<html>
<head><title>SCTA Display</title>

<link rel="stylesheet" type="text/css" href="/stylesheets/global.css">

<style type="text/css">


</style>
</head>

<body>
	<%= erb :_header %>
	<div id="body">

<h1>Information for <%= "#{@title}" %></h1>
<p>(select link for more information)<p>
<table>
	<tr>
		<td>Property</td>
		<td>Value</td>
	</tr>

<% @result.each_solution do |solution|

    predicate = solution[:p]
    object = solution[:o]

    predicate_hash = URLConvert(predicate)
    if !object.literal?
    object_hash = URLConvert(object)
    end

%>
<tr>
	<td class="predicateterm">
		<a href="<%= predicate_hash[:url_link] %>"><span class="url_label"><%= predicate_hash[:url_label] %></span><span class="url_base"><%= predicate_hash[:url_base] %></span></a>
	</td>
	<td class="objectterm">
        <% if object.literal? %>
             <%= object %>
        <% else
            object_str = object.to_str %>
		<a href='<%= object_hash[:url_link] %>'><span class="url_label"><%= object_hash[:url_label] %></span><span class="url_base"><%= object_hash[:url_base] %></span></a>
		<% end %>
	</td>
</tr>
<% end %>
</table>
</div>
</body>
</html>