<div class="col-md-4" style="border-left: 1px solid black;">
  <h3>Archive Stats</h3>
  <p><%= @totalcount %> toal assertions indexed.</p>
  <p><%= @commentarycount %> texts indexed. </p>
  <p><%= @itemcount %> file "items" indexed. </p>
  <p><%= @quotationcount %> quotations indexed. </p>
  <p><%= @namecount %> mentioned names indexed. </p>
  <p><%= @workcount %> mentioned works indexed. </p>
</div>
