<!DOCTYPE html>
<html>
<head><title>SCTA List Display</title>
<link rel="stylesheet" type="text/css" href="/stylesheets/global.css">
  <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
<style type="text/css">


</style>

</head>

<body>
	<%= erb :_header %>
	<div id="body">
<h1>Information for <%= "#{@category}" %>(s) in Archive</h1>
<p>(select link for more information)<p>
<table class="table table-striped">
	<tr>
        <td>Title</td>
		<td>Item Id (select link for more information)</td>

	</tr>

  <% @result.each_solution do |solution|

    subject = solution[:s]
    title = solution[:o]


    if !subject.literal?
      subject_hash = URLConvert(subject)
    end

  %>
      <tr>
        <td><%= title %> </td>
        <td class="subjectterm">
          <% if subject.literal? %>
              <%= subject %>
          <% else
               subject_str = subject.to_str %>
              <a href='<%= subject_hash[:url_link] %>'><span class="url_label"><%= subject_hash[:url_label] %></span><span class="url_base"><%= subject_hash[:url_base] %></span></a>
          <% end %>
        </td>

      </tr>
  <% end %>
</table>
</div>
</body>
</html>